<a href="https://colab.research.google.com/github/AditiVerma-code/aiml-lab4/blob/main/aiml_lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
#Loading the dataset
df = pd.read_csv('aiml-lab4.csv').head()

In [ ]:
#Number of rows and columns
print("Number of rows and columns:", df.shape)

Number of rows and columns: (5, 6)

In [ ]:
#First five rows
print("First five rows:")
print(df.head())

First five rows:
   Book ID                  Title               Author       Genre  Price  \
0        1  To Kill a Mockingbird           Harper Lee     Fiction  10.99
1        2                   1984        George Orwell   Dystopian   9.99
2        3              Moby Dick      Herman Melville     Classic  11.50
3        4       The Great Gatsby  F. Scott Fitzgerald     Fiction  12.00
4        5          War and Peace          Leo Tolstoy  Historical  15.00

   Stock
0      5
1      8
2      2
3      0
4      3

In [ ]:
#Size of the dataset
print("Size of the dataset (in bytes):", df.memory_usage().sum())

Size of the dataset (in bytes): 368

In [ ]:
#Number of missing values
print("Number of missing values in each column:")
print(df.isnull().sum())

Number of missing values in each column:
Book ID    0
Title      0
Author     0
Genre      0
Price      0
Stock      0
dtype: int64

In [ ]:
#Summary statistics for numerical columns
print("Summary statistics:")
print(df.describe())

Summary statistics:
        Book ID      Price    Stock
count  5.000000   5.000000  5.00000
mean   3.000000  11.896000  3.60000
std    1.581139   1.887864  3.04959
min    1.000000   9.990000  0.00000
25%    2.000000  10.990000  2.00000
50%    3.000000  11.500000  3.00000
75%    4.000000  12.000000  5.00000
max    5.000000  15.000000  8.00000

In [ ]:
#defining numerical columns
numerical_cols = df.select_dtypes(include=['number'])
#Sum
print("Sum of numerical columns:")
print(numerical_cols.sum())

Sum of numerical columns:
Book ID    15.00
Price      59.48
Stock      18.00
dtype: float64

In [ ]:
#average of numerical columns
print("Average of numerical columns:")
print(numerical_cols.mean())

Average of numerical columns:
Book ID     3.000
Price      11.896
Stock       3.600
dtype: float64

In [ ]:
print("Minimum values of numerical columns:")
print(numerical_cols.min())

Minimum values of numerical columns:
Book ID    1.00
Price      9.99
Stock      0.00
dtype: float64

In [ ]:
print("Maximum values of numerical columns:")
print(numerical_cols.max())

Maximum values of numerical columns:
Book ID     5.0
Price      15.0
Stock       8.0
dtype: float64